  /* body {
  backgorund-color: grey;
} */

.responsive {
  width: 100%;
  height: auto;
}

.header-up-nav {
  background-image: url('../assets/img/navbar-logo.png');
  background:  #ffd200;
}
.header-up-nav h1 {
  font-size: 40px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #e6b800 ;
  color: white;
  padding: auto;
  height: auto;
  width: auto;
  border-radius: 10px;
  border: none;
}

.navbar-bg{
  background:  #24248f
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: inherit;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  color: lightgray;
}

/* Style The Dropdown Button (contact, documents, regulations) */
.dropbtnClicked {
  color: white;
}

.dropbtnClicked:hover {
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

  .nav ml-left li {
  background-color: inherit ;
  color: ;
  padding: auto;
  height: auto;
  width: auto;
  border-radius: ;
  border: none;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 18px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #e6b800}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #e6b800 ;
  color: white;
  padding: auto;
  height: auto;
  width: auto;
  border-radius: 10px;
  border: none;
}


.container{
height: 100%;
align-content: center;
}

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-signup{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #364FD2;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
  width: 50px;
  background-color: #364FD2;
  color: black;
  border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.news-text {
color: black;
text-align: justify;
}

.btn-primary {
color: black;
background-color: #364FD2;
}

.btn-primary:hover{
color: black;
background-color: white;
}

.login_btn{
color: black;
background-color: #364FD2;
width: 70px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.signup_btn{
color: black;
background-color: #364FD2;
width: 75px;
}

.signup_btn:hover{
color: black;
background-color: white;
}

.logout_btn{
color: black;
background-color: #364FD2;
width: 90px;
}

.logout_btn:hover{
color: black;
background-color: white;
}

.reset_code_btn{
color: black;
background-color: #364FD2;
width: 100px;
}

.reset_code_btn:hover{
color: black;
background-color: white;
}

.delete_users_btn{
color: black;
background-color: #DD4E4E;
width: 180px;
}

.delete_users_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
color: #364FD2;
}

.links a:hover{
color: white;
}

.signuperror{
color: red;
text-align: center;
}

.signupsuccess{
color: lightgreen;
text-align: center;
}

.space10{
	height: 10px;
}

.space20{
	height: 20px;
}

.space30{
	height: 30px;
}

.space40{
	height: 40px;
}

.space50{
	height: 50px;
}

.space100{
	height: 100px;
}

.space150{
	height: 150px;
}

.space200{
	height: 200px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
border-radius: 10px;
width: 100%;
padding: 5px;
margin: 3px 0 11px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

.message {
  border-radius: 10px;
  width: 100%;
  padding: 40px;
  margin: 3px 0 11px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.right {
position: absolute;
right: 30px;
width: 500px;
padding: 10px;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Overwrite default styles of hr */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
border-radius: 10px;
background-color: #404040;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 22%;
opacity: 0.9;
}
.registerbtn2 {
border-radius: 10px;
background-color:#24248f ;
color: white;
padding: 10px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 22%;
opacity: 0.9;
}

.registerbtn:hover {
opacity: 1;
}

/* Add a blue text color to links */
a {
color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
background-color: #f1f1f1;
text-align: center;
}

.move {
position: relative;
left: 125px;
}

/* FOOTER */
.footercol {
border-radius: 10px;
background-color: #3d46c2;
color: white;
padding: 4px 10px;
margin: 4px 158px;
border: none;
cursor: pointer;
width: 22%;
opacity: 0.9;
}
.footercol2 {
border-radius: 10px;
background-color: #b3b300;
color: white;
padding: 4px 10px;
margin: 4px 150px;
border: none;
cursor: pointer;
width: 22%;
opacity: 0.9;
}
.footercol3 {
border-radius: 10px;
background-color: #3d46c2;
color: white;
padding: 4px 10px;
margin: 4px 185px;
border: none;
cursor: pointer;
width: 22%;
opacity: 0.9;
}

.footerundercol{
  text-align: justify;
  text-decoration: none;
  color: white;
}

A {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 10px;
  background-color: inherit;
  padding: 20px;
}

div.a {
  text-align: center;
}

/* END OF FOOTER */


/* Full-width input fields */
input[type=text], input[type=password] {
width: 100%;
padding: 5px;
margin: 3px 0 11px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

.right {
position: absolute;
right: 30px;
width: 500px;
padding: 10px;
}


input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Overwrite default styles of hr */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
background-color: #404040;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

.registerbtn:hover {
opacity: 1;
}

/* Add a blue text color to links */
a {
color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
background-color: #f1f1f1;
text-align: center;
}

/*!
 * Start Bootstrap - The Big Picture (https://startbootstrap.com/template-overviews/the-big-picture)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-the-big-picture/blob/master/LICENSE)
 */


/*!
 * Start Bootstrap - 1 Col Portfolio (https://startbootstrap.com/template-overviews/1-col-portfolio)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-1-col-portfolio/blob/master/LICENSE)
 */

.pagination {
  margin-bottom: 15px;
}

table{
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 6px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

h4{
font-size: 40px;
color: white;
}

h5{
color: white;
}

h6{
color: white;
}


.hover-header {
  text-align: center;
}

/* COUNTDOWN */
.clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 3rem;
}
.clockdiv > div{
	padding: 10px;
	border-radius: 2px;
	display: inline-block;
  margin-top: 0.5rem;
}
.clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.5);
	display: inline-block;
}
.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
/* END COUNTDOWN */



/* FRAME */
.parallax-wrapper {
  height: 500px;
}
.parallax-card {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  height: 400px;
  border-radius: 5px;
  box-shadow: -20px 30px 116px 0 rgba(51, 62, 225, 0.54);
  z-index: 4;
}

.parallax-card-timetable {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  height: 500px;
  border-radius: 5px;
  z-index: 4;
}

.parallax-card-forum {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  height: 650px;
  border-radius: 5px;
  z-index: 4;
}
/* END FRAME */

/* Klasy do przetrzymywania zdjęć dla oddzielnych stron */
.main-bg {
background-image: url('../img/main-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.start-bg {
background-image: url('../img/start-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.news-bg {
background-image: url('../img/news-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.timetable-bg {
background-image: url('../img/timetable-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.results-bg {
background-image: url('../img/results-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.table-bg {
background-image: url('../img/table-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.statistics-bg {
background-image: url('../img/statistics-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.gallery-bg {
background-image: url('../img/gallery-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.video-bg {
background-image: url('../img/video-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.login-bg {
background-image: url('../img/login-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.teams-bg {
background-image: url('../img/teams-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.players-bg {
background-image: url('../img/players-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.information-bg {
background-image: url('../img/information-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.contact-bg {
background-image: url('../img/contact-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.regulations-bg {
background-image: url('../img/regulations-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.documents-bg {
background-image: url('../img/documents-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.sponsors-bg {
background-image: url('../img/sponsors-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.advertisement-bg {
background-image: url('../img/advertisement-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.multimedia-bg {
background-image: url('../img/multimedia-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.faq-bg {
background-image: url('../img/question-mark-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.forum-bg {
background-image: url('../img/forum-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.policy-bg {
background-image: url('../img/policy-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.admin-bg {
background-image: url('../img/admin-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.main-ball-bg {
background-image: url('../img/main-ball.png');
background-size: cover;
background-repeat: no-repeat;
position: relative;
height: 100%;
 -webkit-animation-name:ball-animation ;
 -webkit-animation-duration: 8s;
 animation-name: ball-animation;
 animation-duration: 8s;
}

.main-logo-bg {
background-image: url('../img/main-logo.png');
background-size: cover;
background-repeat: no-repeat;
position: relative;
top: -25px;
height: 100%;
}
.main-player-bg {
background-image: url('../img/main-player.png');
background-size: cover;
background-repeat: no-repeat;
position: relative;
top:
height: 100%;
}
@keyframes ball-animation{
  0%   {left:400px; top:0px;}
 100% {left:0px; top:0px;}
}

@-webkit-keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}
textarea {
  width: 100%;
  height: 180px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
